p, ul {
    height: 0px;
    margin: 0;
    overflow: auto;
    transition: all .3s ease .15s;
  }
  .title {
    font-weight: bold;
    color: blue;
  }
  .title:after {
    content: '+';
    padding-left: 5px;
    font-size: 20px;
    color: blue;
    cursor: pointer;
  }
  ul.open {
    height: 400px;
  }
  p.open {
    height: 50px;
  }
  .minus.title:after {
    content: '-';
  }